# Python
__pycache__/
*.egg-info
.mypy_cache
.ruff_cache

# Environment
.venv
.env

# IDEs
.vscode/
.idea/
.cursor/
.claude/

# Build
build/
dist/

# OS-specific
.DS_Store

# Tests
.coverage
.pytest_cache/

# Project-specific
resources/.cache/
resources/prithvi_eo_v1_100m/
